{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="recipe.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vegetarian Tacos</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
  </head>
  <header>
    <nav class="nav">
      <a class="nav-link" href="{% url 'recipe_list' %}">Main page</a>
    </nav>
  </header>
  <body>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Create</button>
    </form>
  </body>
  <footer class="footer">Made with love by Scrumptious Recipes</footer>
</html>
