{% extends 'base.html' %}
{% block content %}
<a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
      <h1 class='h1'>{{ recipe_object.title }}</h1>
      <div>
        <img
          class="img"
          src="{{ recipe_object.picture}}"
          alt="{{ recipe_object.description }}"
        />
        <p>Created on: {{recipe_object.created_on|date:"D, M d, Y"}}</p>
      </div>
      <div class="rating">5 stars</div>
      <p> {{ recipe_object.description }}</p>

      <h2 class ='h2'>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Food Item</th>
          </tr>
          </thead>

        <trbody>
          {% for ingredient in recipe_object.ingredients.all %}
            <tr>
              <td>{{ ingredient.amount}}</td>
              <td>{{ ingredient.food_item}}</td>
            </tr>
          {% endfor %}

        </trbody>
      </table>

          <div class="steps">
            <h2>Steps</h2>
            <ol class='lists'>
              {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
              {% endfor %}
            </ol>
          </div>

      </div>
{% endblock content %}
