{% extends 'base.html' %} {% block title%}
<h1>Scrumptious Recipes</h1>
{% endblock title%} {% block content %}
<h2>All the food that's fit to eat</h2>
<div class="recipe-list-page">
  {% for recipe in recipe_list %}
  <div>
    <div>
      <h3>
        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
      </h3>
    </div>
    <img src="{{ recipe.picture }}" />
    <div>
      <p>5 stars</p>
      <p>
        Created on:{{recipe.created_on|date:"D, M d, Y"}} by {{recipe.author}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content%}
