footer {
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: greenyellow;
}

main {
  padding: 16px;
}

nav {
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: orange;
}

.create_link {
  padding-left: 15px;
}

img {
  height: 200px;
}

.recipe-list-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
}

.test-grid-class {
  grid-column-start: 2;
}

a {
  text-decoration: None;
}

nav > a {
  color: white;
}

h3 > a {
  color: rgb(123, 163, 89);
}

.table_colors tr:nth-child(2n + 3) {
  background-color: lightgray;
}
/*
.create_link {
  padding-left: 100px;
} */

/*
TEXTAREA OF CREATE/EDIT TABLE
*/
textarea {
  background-color: bisque;
  box-shadow: 2px, 4px;
}

#id_title {
  color: darkolivegreen;
}
#id_picture {
  color: darkolivegreen;
}
#id_description {
  color: darkolivegreen;
}
