{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <title>{% block title %}{% endblock title%}</title>
  </head>
  <body>
    <header>
      <nav>

        <div class="nav">
        <a href="{% url 'recipe_list' %}">Main page</a>


          {% if user.is_authenticated %}
            Hello, {{ user.username }}!
            <a class="create_link" href="{% url 'create_recipe' %}"
          >Create a recipe</a>
          <a href="{% url 'my_recipe_list' %}">My recipes</a>
            <a href="{% url 'user_logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'user_login' %}">Login</a>
          {% endif %}
      </nav>
    </div>
    </header>
    <main>{% block content %} {% endblock%}</main>
    <footer>
      <div>
        Made with love by Scrumptious Recipes - We sue, so don't try anything.
      </div>
    </footer>
  </body>
</html>
